<section class="content edit-profile-wrap">

  <%= render 'shared/pop_ups/change_password' %>
      
  <h2>Edit Account Settings</h2>

     <%= form_for(current_user, url: edit_profile_path,html: {id: 'profile_settings'}) do |f|%>
        
        <div>
          <%=f.label :email %>
          <%=f.text_field :email, :placeholder => 'Email'%>
        </div>

        <div>
          <label for="pass">Password</label>
          <a id="pass" href="#password" class="btn gray big" data-toggle="modal" role="button">Change Password</a>
        </div>
        <div>
            <%=f.label :name%>
            <span>http://mmmine.com/u/</span>
            <%=f.text_field :name, size: '21', :placeholder => 'Name'%>
            <span class="field-hint">
              *This will be displayed on your profile
            </span>
        </div>
        <div>
          <%=f.label :photo%>
          <%=f.file_field :photo%>
          <%= image_tag(current_user.photo(:photo), class: 'photo') %>
        </div>
        <div>
          <%=f.label :location, 'Country' %>
          <%=f.text_field :location, :placeholder => 'Country' %>
        </div>
        <div>
          <%=f.label :website %>
          <%=f.text_field :website, :placeholder => 'Website' %>
        </div>
        <div>
          <%=f.label :about%>
          <%=f.text_area :about, :size => "22x30", :placeholder => 'About' %>
        </div>

        <%= f.fields_for :user_setting, current_user.user_setting || current_user.build_user_setting do |f| %>
          <hr>
          <section id="email_settings">
              <p>Get an email notification when</p>
              <%= label_tag do%>
                <%= f.check_box :new_follower_notify %> Someone starts following you
              <%end%>
              <%= label_tag do%>
                <%= f.check_box :product_save_notify %> Someone you're following saves a product in your sets
              <%end%>
              <%= label_tag do%>
                <%= f.check_box :mentions_notify %> Someone mentions you
              <%end%>
          </section>

          <hr>

          <section id="fb_settings">
              <span class="l fb_b"></span>
              <%= label_tag do%>
                <%= f.check_box :publish_fb %> Publish activity on your Facebook timeline
              <%end%>
          </section>

          <hr>
        <%end%>

        <button type="submit" class="btn">Save Profile</button>
    <%end%>

</section>