 <h2>Edit Account Settings</h2>

     <%= form_for(current_user, url: update_profile_path,html: {id: 'profile_settings'}) do |f|%>
        
        <div>
          <%=f.label :email %>
          <%=f.text_field :email%>
        </div>

        <div>
          <label for="pass">Password</label>
          <a id="pass" href="#password" class="btn gray popup b">Change Password</a>
        </div>
        <div>
            <%=f.label :name%>
            <span>http://mmmine.com/u/</span>
            <%=f.text_field :name, size: '22'%>
        </div>
        <div>
          <%=f.label :photo%>
          <%=f.file_field :photo%>
          <%= image_tag(current_user.photo(:photo), class: 'photo') if has_photo?%>
        </div>
        <div>
          <%=f.label :location %>
          <%=f.text_field :location%>
        </div>
        <div>
          <%=f.label :website %>
          <%=f.text_field :website%>
        </div>
        <div>
          <%=f.label :about%>
          <%=f.text_area :about, :size => "22x30"%>
        </div>

        <hr>

        <section id="email_settings">
            <p>Get an email notification when</p>
            <label><input type="checkbox"/>Someone starts following you</label>
            <label><input type="checkbox"/>Someone you're following saves a product in your sets</label>
            <label><input type="checkbox"/>Someone mentions you</label>
        </section>

        <hr>

        <section id="fb_settings">
            <span class="l fb_b"></span>
            <label><input type="checkbox"/>Publish activity on your Facebook timeline</label>
        </section>

        <hr>

        <button type="submit" class="btn">Save Profile</button>
    <%end%>