<section class="right">
  <div class="elem">
    <h4>Categories</h4>
    <%Category.all.each do |cat| %>
      <div id="cat<%=cat.id%>">
        <div class="cat"><span data-cat-id="<%=cat.id%>">&#x25BC;</span><%=cat.title%></div>
          <%subs_cols(cat.sub_categories).each_with_index do |col, i|%>
            <ul style="display: <%= cat.women? ? 'block' : 'none' %>" class="<%= i == 0 ? 'left' : 'right'%>-col">
              <%col.each do |sub_cat| %>
                <li><%=link_to sub_cat.title, product_list_path(sub_category_id: sub_cat.id)%></li>
              <%end%>
            </ul>
          <%end%>
        <div class="clear"></div>
      </div>
    <%end%>
  </div>
  <div class="elem">
    <h4>discover</h4>
    <menu>
      <%=link_to 'Just Posted', root_path%>
      <%=link_to 'Most Popular', product_list_path(order: 'followed', desc: 1)%>
      <%=link_to 'Top Stores', top_stores_path%>
    </menu>
  </div>
</section>