<%@product = product%>
<div class="item">
  <%= link_to image_tag(@product.main_picture, title: @product.title, alt: @product.title), show_product_path(id: @product.id), data: {toggle: true}, remote: true%>
  <div class="social">
    <a id="make_mmmine_small_<%=@product.id%>" title="<%=make_mmmine_title%>" href="<%=make_mmmine_link%>" class="b mmmine<%=' guest-make-mine' unless current_user%> <%='unfollow-product' if following_product?%>" data-toggle="modal" role="button"><%=@product.count_user_followers%></a>
    <a title="Show a friend" href="#share<%=@product.id%>" class="share-num b myspace<%=' guest-share-product' unless current_user%>" data-toggle="modal" role="button"><%=@product.shared%></a>
    <a title="Share" class="b other">&nbsp;</a>
  </div>
  <div class="details">
    <div class="t_from">
      <b><%=@product.title%></b>
      <div class="price-size">
        <%=format_price(@product)%> <span class="separator">|</span> Size: <%=@product.size%>
      </div>
      
      <%= render partial: 'shared/follow_btn', locals: {classes: 'follow r', user: @product.user}%>

      <div class="user l">
        <%= image_tag @product.user.photo(:avatar) %>
        <p class="name">
          <%= @product.user.name %>
        </p>
        <p class="time"><%=nice_date(@product.created_at)%></p>
      </div>
    </div>
    <div class="t_share hide">
<!--Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="http://mmmine.com/#thing_popup<%=@product.id%>" data-layout="button_count"></div>

<!-- Twitter -->
  <a href="https://twitter.com/share?url=http://mmmine.com/#thing_popup<%=@product.id%>" class="twitter-share-button" data-via="mmmine">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    </div>
  </div>
</div>

<%= render 'shared/pop_ups/make_mine' if current_user %>
<%= render 'shared/pop_ups/share_product' if current_user %>
