<%@product = product%>
<div class="item">
  <a href="#thing_popup<%=@product.id%>" data-toggle="modal" role="button">
    <%=image_tag @product.picture(:middle)%>
  </a>
  <div class="social">
    <a title="Make it mmmine!" href="#make_mmmine" class="b mmmine" data-toggle="modal" role="button">45</a>
    <a title="Show a friend" href="#share" class="b myspace" data-toggle="modal" role="button">124</a>
    <a title="Share" class="b other">26</a>
  </div>
  <div class="details">
    <div class="t_from">
      <p class="from"><b>From</b> <span>Abercrombie Fitch Lorems</span> | $19.90</p>
                    <a href="#" class="follow r">Follow</a>
      <div class="user l">
        <img src="/assets/ava.jpg">
        <p class="name">Laura Brown</p>
        <p class="time">About 3 hours ago</p>
      </div>
    </div>
    <div class="t_share hide">
<!--Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="http://mmmine.com/#thing_popup<%=@product.id%>" data-layout="button_count"></div>

<!-- Twitter -->
  <a href="https://twitter.com/share?url=http://mmmine.com/#thing_popup<%=@product.id%>" class="twitter-share-button" data-via="mmmine">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    </div>
  </div>
</div>

<%=render partial: 'products/product_details' %>
