<div id="thing_popup<%=@product.id%>" class="modal hide fade product-details" tabindex="-1" role="dialog" data-product-id="<%=@product.id%>" aria-hidden="true" aria-labelledby="thing_popup<%=@product.id%>">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <section class="popup_item_info clearfix">
          <div class="l">
              <img src="<%=@product.user.photo(:photo)%>" alt="ava2" width="117" height="123" />
              <div class="user_l">
                  <span class="name"><%=link_to @product.user.name, show_profile_path(id: @product.user.id)%></span>
                  <span class="posted">Posted <%=nice_date(@product.created_at, false)%></span>
                  <div class="details-top">
                    <div class="left-top">
                      <%= render partial: 'shared/follow_btn', locals: {classes: 'btn', user: @product.user}%>
                    </div>
                    <div class="right-top">
                      <b><%=get_currency_sign(@product.currency)%><%=@product.price%></b> <span class="currency"><%=get_currency(@product.currency)%></span>
                      <%=render 'products/buy_now'%>
                    </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
  <div class="modal-body">

      <section class="big_item">
          <div class="img">
              <%@product.product_pictures.each_with_index do |pic, i|%>
                <%=image_tag pic.picture(:big), style: i == 0 ? "margin-top: 0" : ''%>
              <%end%>
              <div class="social">
                  <a id="make_mmmine_big_<%=@product.id%>" title="<%=make_mmmine_title%>" href="<%=make_mmmine_link%>" class="b mmmine<%=' guest-make-mine' unless current_user%> <%='unfollow-product' if following_product?%>" data-toggle="modal" role="button"><%=@product.count_user_followers%></a>
                  <%if can? :manage, @product%>
                    <%=link_to '', product_edit_path(@product), title: 'edit an item', class: 'edit-product', role: 'button', remote: true%>
                  <%else%>
                    <a title="Report" href="#report" data-toggle="modal" class="report" role="button"><span>!</span></a>
                  <%end%>
              </div>
          </div>
      </section>
      <div class="big_item_details">
        <%=render partial: 'products/social_btns'%>
      <section class="more_in_set">
          <div class="product_title"><%=@product.title%></div>
          <div class="product_desc">
            <%=simple_format(@product.description)%>
          </div>
          <span class="product_size">Size: <%=@product.size%></span><span class="product_date"> <span class="delimiter">|</span> <%=nice_date(@product.created_at)%></span>
          <%if @product.user.products.count > 1%>
            <div class="product_more_from">More from <%=link_to "#{@product.user.name}`s Store", show_profile_path(id: @product.user.id)%></div>
            <ul class="thumbnails-more">
              <%@product.user.products.reject{|p| p.id == @product.id}.first(7).each do |product|%>
                <li>
                  <%=link_to(image_tag(product.main_picture(:small), alt: product.title, title: product.title), product_url(product.id, true))%>
                </li>
              <%end%>
            </ul>
          <%end%>
      </section>
      <%=render partial: 'products/comments/section'%>
    </div>
  </div>
</div>