<div id="thing_popup<%=@product.id%>" class="modal hide fade product-details" tabindex="-1" role="dialog" data-product-id="<%=@product.id%>" aria-hidden="true" aria-labelledby="thing_popup<%=@product.id%>">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <section class="popup_item_info clearfix">
          <div class="l">
              <img src="<%=@product.user.photo(:photo)%>" alt="ava2" width="117" height="123" />
              <div class="user_l">
                  <span class="name"><%=@product.user.name%></span>
                  <span class="posted">Posted this to <a href="#">Things I Want</a> via <a href="#">laurabrown</a> 10 days ago</span>
                  <a href="#" class="btn">Follow</a>
              </div>
          </div>
      </section>
  </div>
  <div class="modal-body">

      <section class="big_item">
          <div class="img">   
              <%=image_tag @product.picture(:big)%>
              <div class="social">
                  <a title="Make it mmmine!" href="#make_mmmine" class="b mmmine" data-toggle="modal" role="button">45</a>
                  <a title="Product url" href="#share" class="b url" data-toggle="modal" role="button"><%=format_price(@product.price)%></a>
                  <a title="Report" href="#report" data-toggle="modal" class="report" role="button"><span>!</span></a>
              </div>
          </div>
      </section>
      <div class="big_item_details">
          <p>From <%=link_to product_site, "http://#{product_site}", target: '_blank'%></p>
          <%=render partial: 'products/social_btns'%>
      <section class="more_in_set">
          <button class="btn green r fllw">Follow</button>
          <div class="product_desc">
            <%=simple_format(@product.description)%>
          </div>
          <p>More from <a href=""><b>Things I Want</b></a></p>
          <ul>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
              <li><a href="#"><img src="/assets/7_m.jpg" alt=""/></a></li>
          </ul>
      </section>
      <%=render partial: 'products/comments/section'%>
    </div>
  </div>
</div>