<!DOCTYPE html>
<html>
<head>
  <title>Mmmine</title>
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= js_msg([notice, alert])%>
  <%= js_msg([flash[:error]], 'error')%>
  <%clear_messages%>
<div class="howto"></div>
  <div class="w960">
    <header>
      <a href="/" class="logo"></a>
      <nav>
        <%= render "shared/#{user_signed_in? ? 'user' : 'guest'}_nav" %>
      </nav>
      <div class="search">
        <input type="text" placeholder="Search">
        <input type="button">
      </div>
      <% if user_signed_in? %>
              <div class="account">
                  <div class="usermenu drop">
                      <%=image_tag current_user.photo(:avatar), class: 'small-avatar' if has_photo? %>
                      <ul class="hide">
                          <li class="active"><a href="">Profile</a></li>
                          <li><a href="">Find Friends</a></li>
                          <li><a href="#bookmarklet" class="b bookmarklet" data-toggle="modal" role="button">Get the Bookmarklet</a></li>
                          <li><%= link_to "Settings", edit_profile_path %></li>
                          <li><%= link_to "Sign out", logout_path %></li>
                      </ul>
                  </div>
                  <div class="count"><span>1</span></div>
              </div>
      <% end %>
    </header>

      <%= yield %>
    
    <%= render 'shared/right_section' if @right_section %>
  </div>

  <%= render 'shared/product_details'%>
  <%= render 'shared/make_mine' %>
  <%= render 'shared/share_product' %>
  <%= render 'shared/bookmarklet' %>
  <%= render 'shared/report' %>
  <% if !current_user %>
    <%= render 'shared/sign_in' %>
    <%= render 'shared/sign_up' %>
  <% end %>

  <%= javascript_include_tag "settings" %>
</body>
</html>
