<!DOCTYPE html>
<html>
<head>
  <title>Mmmine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= js_msg([notice, alert])%>
  <%= js_msg([flash[:error]], 'error')%>
<div class="howto"></div>
  <div class="w960">
    <header>
      <a href="#" class="logo"></a>
      <nav>
        <%= render "shared/#{user_signed_in? ? 'user' : 'guest'}_nav" %>
      </nav>
      <div class="search">
        <input type="text" placeholder="Search">
        <input type="button">
      </div>
      <% if user_signed_in? %>
              <div class="account">
                  <div class="usermenu drop">
                      <img src="/assets/ava.jpg" alt=""/>
                      <ul class="hide">
                          <li class="active"><a href="">Profile</a></li>
                          <li><a href="">Find Friends</a></li>
                          <li><a href="">Get the Bookmarklet</a></li>
                          <li><%= link_to "Settings", edit_profile_path %></li>
                          <li><%= link_to "Sign out", logout_path %></li>
                      </ul>
                  </div>
                  <div class="count"><span>1</span></div>
              </div>
      <% end %>
    </header>
    <section class="content">
      
      <%= yield %>

    </section>
    <%= render 'shared/right_section' if @right_section %>
  </div>

  <div class="hide">
    <%= render 'shared/make_mine' %>
    <%= render 'shared/share_product' %>
    <%= render 'shared/sign_in' %>
    <%= render 'shared/sign_up' %>
  </div>

</body>
</html>
